* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
body{background-color: #fff;}
html,body{height: 100%;}
.wrap{min-width: 320px;max-width: 1440px;padding: 0 95px;margin: 0 auto;}
.row{margin:0 -15px;}
.row, .row:after{clear: both;}
.row:after, .row:before {display: table;content: " ";}

.colmd1{width: 8.33333333%;}
.colmd2{width: 16.66666667%;}
.colmd3{width: 25%;}
.colmd4{width: 33.33333333%;}
.colmd5{width: 41.66666667%;}
.colmd6{width: 50%;}
.colmd7{width: 58.33333333%;}
.colmd8{width: 66.66666667%;}
.colmd9{width: 75%;}
.colmd10{width: 83.33333333%;}
.colmd11{width: 91.66666667%;}
.colmd12{width: 100%;}
.colmdfor5{width: 20%;}
.colmd12, .colmd11, .colmd10, .colmd9, .colmd8, .colmd7, .colmd6, .colmd5, .colmd4, .colmd3, .colmd2, .colmd1, .colmdfor5{float: left;position: relative;padding: 0 15px;}
.colmd-offset-12{margin-left: 100%;}
.colmd-offset-11{margin-left: 91.66666667%;}
.colmd-offset-10{margin-left: 83.33333333%;}
.colmd-offset-9{margin-left: 75%;}
.colmd-offset-8{margin-left: 66.66666667%;}
.colmd-offset-7{margin-left: 58.33333333%;}
.colmd-offset-6{margin-left: 50%;}
.colmd-offset-5{margin-left: 41.66666667%;}
.colmd-offset-4{margin-left: 33.33333333%;}
.colmd-offset-3{margin-left: 25%;}
.colmd-offset-2{margin-left: 16.66666667%;}
.colmd-offset-1{margin-left: 8.33333333%;}

.marginbottom{margin-bottom: 30px;}
.clear{clear: both;}

.text-right{text-align: right;}
.text-center{text-align: center;}
.text-left{text-align: left;}

.float-left{float: left;}
.float-right{float: right;}

.container{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;min-height: 100%;overflow: hidden;}

.form{margin-top: 15px;}
.form input.error, .form textarea.error{border: 1px solid #E23C3C;margin-bottom: 0;}
.form label.error{color: #E23C3C;margin: 5px 0 15px 0;display: block;}
.form input, .form textarea{border: 1px solid #9b9b9b;font-size: 18px;color: #000;padding: 5px 10px;width: 100%;border-radius: 3px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-bottom: 15px;background-color: #e3e3e3;}
.form .marginleft{margin-left: 15px;}
.form textarea{resize: none;height: 150px;}
.form input[type="submit"]{border: 1px solid #b8e986;cursor: pointer;background-color: #b8e986;color: #e3e3e3;}
.form input[type="submit"]:hover{background-color: #000;color: #e3e3e3;}
.form input[type="checkbox"]{width: auto;}
.form label{display: block;}
::-webkit-input-placeholder {color: #9b9b9b;font-size: 18px;}
:-ms-input-placeholder {color: #9b9b9b;font-size: 18px;}
::-moz-placeholder {color: #9b9b9b;opacity: 1;font-size: 18px;}
:-moz-placeholder {color: #9b9b9b;opacity: 1;font-size: 18px;}

.sdshow{display: none;}
.xdshow{display: none;}
.mobiledshow{display: none;}

.margin-top-50{margin-top: 50px;}
.padding-null{padding: 0!important;}
.padding-left-null{padding-left: 0!important;}
.padding-right-null{padding-right: 0!important;}


.rotate{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media (max-width: 1439px){
    .wrap{
        padding: 0 30px;
    }
    .margin-top-50 {
        margin-top: 30px;
    }
}
@media (max-width: 1023px) and (min-width: 769px){
    .colsd1{width: 8.33333333%;}
    .colsd2{width: 16.66666667%;}
    .colsd3{width: 25%;}
    .colsd4{width: 33.33333333%;}
    .colsd5{width: 41.66666667%;}
    .colsd6{width: 50%;}
    .colsd7{width: 58.33333333%;}
    .colsd8{width: 66.66666667%;}
    .colsd9{width: 75%;}
    .colsd10{width: 83.33333333%;}
    .colsd11{width: 91.66666667%;}
    .colsd12{width: 100%;}
    .colsdfor5{width: 20%;}
    .colsd12, .colsd11, .colsd10, .colsd9, .colsd8, .colsd7, .colsd6, .colsd5, .colsd4, .colsd3, .colsd2, .colsd1, .colsdfor5{float: left;position: relative;padding: 0 15px;}
    .colsd-offset-12{margin-left: 100%;}
    .colsd-offset-11{margin-left: 91.66666667%;}
    .colsd-offset-10{margin-left: 83.33333333%;}
    .colsd-offset-9{margin-left: 75%;}
    .colsd-offset-8{margin-left: 66.66666667%;}
    .colsd-offset-7{margin-left: 58.33333333%;}
    .colsd-offset-6{margin-left: 50%;}
    .colsd-offset-5{margin-left: 41.66666667%;}
    .colsd-offset-4{margin-left: 33.33333333%;}
    .colsd-offset-3{margin-left: 25%;}
    .colsd-offset-2{margin-left: 16.66666667%;}
    .colsd-offset-1{margin-left: 8.33333333%;}
    .colsd-offset-0{margin-left: 0%;}
    .sdhidden{display: none;}
    .sdshow{display: block;}
    .margin-top-sd-25{margin-top: 25px;}
    .margin-top-sd-15{margin-top: 15px;}
}

@media (max-width: 768px){
    .colxd1{width: 8.33333333%;}
    .section-header nav a.colxd2, .colxd2{width: 16.66666667%;}
    .section-header nav a.colxd3, .colxd3{width: 25%;}
    .section-header nav a.colxd4, .colxd4{width: 33.33333333%;}
    .colxd5{width: 41.66666667%;}
    .colxd6{width: 50%;}
    .colxd7{width: 58.33333333%;}
    .colxd8{width: 66.66666667%;}
    .colxd9{width: 75%;}
    .colxd10{width: 83.33333333%;}
    .colxd11{width: 91.66666667%;}
    .colxd12{width: 100%;}
    .colxdfor5{width: 20%;}
    .colxd12, .colxd11, .colxd10, .colxd9, .colxd8, .colxd7, .colxd6, .colxd5, .colxd4, .colxd3, .colxd2, .colxd1, .colxdfor5{float: left;position: relative;padding: 0 15px;}
    .colxd-offset-12{margin-left: 100%;}
    .colxd-offset-11{margin-left: 91.66666667%;}
    .colxd-offset-10{margin-left: 83.33333333%;}
    .colxd-offset-9{margin-left: 75%;}
    .colxd-offset-8{margin-left: 66.66666667%;}
    .colxd-offset-7{margin-left: 58.33333333%;}
    .colxd-offset-6{margin-left: 50%;}
    .colxd-offset-5{margin-left: 41.66666667%;}
    .colxd-offset-4{margin-left: 33.33333333%;}
    .colxd-offset-3{margin-left: 25%;}
    .colxd-offset-2{margin-left: 16.66666667%;}
    .colxd-offset-1{margin-left: 8.33333333%;}
    .colxd-offset-0{margin-left: 0%;}
    .xdhidden{display: none;}
    .xdshow{display: block;}
}

@media (max-width: 740px){
    .colmobiled1{width: 8.33333333%;}
    .section-header nav a.colmobiled2, .colmobiled2{width: 16.66666667%;}
    .section-header nav a.colmobiled3, .colmobiled3{width: 25%;}
    .section-header nav a.colmobiled4, .colmobiled4{width: 33.33333333%;}
    .colmobiled5{width: 41.66666667%;}
    .colmobiled6{width: 50%;}
    .colmobiled7{width: 58.33333333%;}
    .colmobiled8{width: 66.66666667%;}
    .colmobiled9{width: 75%;}
    .colmobiled10{width: 83.33333333%;}
    .colmobiled11{width: 91.66666667%;}
    .colmobiled12{width: 100%;}
    .colmobiledfor5{width: 20%;}
    .colmobiled12, .colmobiled11, .colmobiled10, .colmobiled9, .colmobiled8, .colmobiled7, .colmobiled6, .colmobiled5, .colmobiled4, .colmobiled3, .colmobiled2, .colmobiled1, .colmobiledfor5{float: left;position: relative;padding: 0 15px;}
    .colmobiled-offset-12{margin-left: 100%;}
    .colmobiled-offset-11{margin-left: 91.66666667%;}
    .colmobiled-offset-10{margin-left: 83.33333333%;}
    .colmobiled-offset-9{margin-left: 75%;}
    .colmobiled-offset-8{margin-left: 66.66666667%;}
    .colmobiled-offset-7{margin-left: 58.33333333%;}
    .colmobiled-offset-6{margin-left: 50%;}
    .colmobiled-offset-5{margin-left: 41.66666667%;}
    .colmobiled-offset-4{margin-left: 33.33333333%;}
    .colmobiled-offset-3{margin-left: 25%;}
    .colmobiled-offset-2{margin-left: 16.66666667%;}
    .colmobiled-offset-1{margin-left: 8.33333333%;}
    .mobiledhidden{display: none;}
    .mobiledshow{display: block;}
}

@media (max-width: 740px){
    .ham {
        width: 24px;
        height: 18px;
        display: inline-block;
        position: absolute;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        cursor: pointer;
        margin-left: 16px;
        margin-top: 16px;
        top: 0; left: 0;
        z-index: 10;
    }
    .hamline {
        display: block;
        position: absolute;
        height: 3px;
        width: 24px;
        background: #003652;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transition: .1s ease-in-out;
        -moz-transition: .1s ease-in-out;
        -o-transition: .1s ease-in-out;
        transition: .1s ease-in-out;
    }
    .hamline:nth-child(1) {
        top: 0; 
    }
    .hamline:nth-child(2) {
        top: 7px;
    }
    .hamline:nth-child(3) {
        top: 7px;
    }
    .hamline:nth-child(4) {
        top: 14px;
    }
    .active .hamline {
    }
    .active .hamline:nth-child(1) {
        top: 8px;
        width: 0;
        left: 50%; 
    }
    .active .hamline:nth-child(2) {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
    }
    .active .hamline:nth-child(3) {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
    }
    .active .hamline:nth-child(4) {
        top: 8px;
        width: 0;
        left: 50%; 
    }
}